{% extends 'base.html' %} {% block title %} Yazarlar {% endblock %} {% block content %}
<div class="card-group">
    {% for yazar in yazarlar %}
    <div class="card" style="border: 20px solid rgba(209, 209, 17, 0.171)">

        <img src="/media/{{yazar.image}}" class="card-img-top" width="100px" alt="{{yazar.image}}">

        <div class="card-body">
            <h5 class="card-title">{{yazar.title}}</h5>

            <p class="card-text">

                {{yazar.fullname}} <br> {{yazar.body}} <br> {{yazar.price}} AZN <br>
                <small class="text-muted">{{yazar.date}}</small></p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}