h1 {
    font-size: 70px;
}

.card {
    max-width: 200px;
    max-height: 400px;
}

.card-group {
    column-gap: 10px;
    border: 10px;
}

body {
    bottom: 20px;
}

.card {
    max-width: 314px;
    max-height: 505px;
}