<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<p>President Volodomyr Zelensky urged Congress to come to Ukraine’s aid, invoking the memories of Pearl Harbor and Sept. 11. “I call on you to do more,” he said. After military setbacks, Russian officials said that there is “hope that a certain compromise
    can be reached” in talks with Ukraine. Here’s the latest.</p>

<body>

</body>

</html>